body {
    background-image: url('./images/rps.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    color: black;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.description {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    display: flex;
    justify-content: center;
    height: 40px;
    padding: 50px;
    justify-content: space-evenly;
    border-radius: 15px;
}

.results,
.winner {
    display: flex;
    justify-content: center;
    color: green;
    font-weight: 900;
    font-size: 50px;
    text-shadow: 2px 2px lightgreen;
}
