h1 {
    color: black;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.description {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    display: flex;
    justify-content: center;
    height: 40px;
    padding: 50px;
    justify-content: space-evenly;
    border-radius: 15px;
}

.results,
.winner {
    display: flex;
    justify-content: center;
    color: black;
}